.top-panel {
  min-height: 17%;
  max-height: 17%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__avatar {
    height: 100%;
    width: auto;
    margin-right: 4px;
    border-radius: 12px;
    box-sizing: border-box;
    border: solid 4px;
    transition: border 0.5s linear;
  }

  &__bars {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }
}
